/*<=== Classes ===>*/
*, *::after
{
    box-sizing: border-box;
}

.top_contain
{
    margin: 0 auto;
    width: 960px;

}
.pro_contain {
    margin: 0 auto;
    width: 960px;
    color: #777777;
    font-family: Arial, Helvetica, sans-serif;

    position: relative;
    min-height: 100vh;
  }

  .mainsection
  {
      border: 1px solid #dddddd;
      margin-top: 30px;
      margin-bottom: 30px;
      background-color: #ffffff;
  }

  .name
  {
      font-family: Georgia, 'Times New Roman', Times, serif;
      background: #4aaaa5;
      padding: 25px;
     
      color: #ffffff;
      float: left;
  }
  
  .menu_options
  {
      float: right;
      padding-top: 25px;
      padding-bottom: 25px;
      padding-right: 5px;

  }

  .footer
  {
      background: #666666;
      height: 50px;
      border-top: 7px solid #4aaaa5;
      width: 100%;
      bottom: 0;
      margin-top: -25px;
      position: absolute;
  }
  .menu
  {
    height: 70px; 
    border-bottom: 1px solid #cccccc;
}

.about_header
{
    color: #4aaaa5;
    background-color: #ffffff;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 25px;
    margin-left: 25px;
    padding-bottom: 20px;
    border-bottom: 3px solid #cccccc;
}
.profile_pic
{
    float: left;
    margin-left: 25px;
    margin-right: 10px;
    margin-bottom: 25px;
}

.art_pics
{
    float: left;
    margin-left: 25px;
    margin-bottom: 25px;
    width: 300px;
    height: 300px;
}

.text
{
    margin-left: 25px;
    margin-right: 25px;
}
.clearfix::after
{
    content:" ";
    display: block;
    clear: both;
}

.labels
{
    float: left;
    margin-left: 25px;
    padding-top: 25px;

}

.submit
{
    float: left;
    background-color: #4aaaa5;
    color: #ffffff;
    margin-left: 25px;
    margin-top: 25px;
    margin-bottom: 25px;
    border: 1px solid #ffffff;
    padding: 5px;
}
/*<=== Classes ===>*/

/*<=== IDs ===>*/
#message
{
    height: 250px;
    text-align: justify;
}
/*<=== HTML Tags ===>*/
header
{
    background-color: #ffffff;
}

body
{
    background-image: url("../images/beige-tiles.png");
    margin: 0px;
}

input[type=text], [type=email] {
    width: 900px;
    
    margin-left: 25px;
    margin-right: 25px;
    padding-bottom: 25px;
    padding-right: 25px;

    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    float: left;
  }

  @media screen and (max-width: 980px) {
    
    .pro_contain_980 {
        margin-left: 25px;
        float: left;
        width: 700px;
    }

    .top_contain_980{
        margin-left: 25px;
        width: 900px;
    }

    .input_980{
        width:650px;
    }
  }
  
  @media screen and (max-width: 768px) {
    
    .pro_contain_768 {
        margin-left: 15px;
        float: left;
        width: 700px;
    }

    .top_contain_768{
        margin-left: 15px;
        width: 750px;
    }

    .menu_options_768{
        margin-right: 30px;
    }

    .menu_768{
        height: 100px;
    }

    .name_768{
        height: 100px;
        padding: 40px;
        font-size: 20pt;
        font-weight: bolder
    }

    .profile_pic_768{
        height: 300px;
        width: 300px;
    }

    .about_header_768{
        font-size: 15pt;
        font-weight: bolder;
    }
    .input_768{
        width: 650px;

    }
  }

  @media screen and (max-width: 640px) {
    
    .pro_contain_640 {
        margin-left: 15px;
        float: left;
        width: 620px;
    }

    .top_contain_640{
        margin-left: 15px;
        width: 640px;
    }

    .menu_options_640{        
        text-align: center;
        float: inherit;
    }

    .menu_640{
        height: 175px;
        
    }

    .name_640{
        height: 100px;
        width: 620px;
        padding: 40px;
        font-size: 20pt;
        font-weight: bolder;
        text-align: center;
        margin-bottom: 25px;
    }

    .profile_pic_640{
        height: 300px;
        width: 300px;

    }

    .about_header_640{
        font-size: 15pt;
        font-weight: bolder;
    }

    .art_pics_640{
       
        float: inherit;
    }

    .input_640{
        width: 600px;
    }
  }